body{
    display: inline;
    padding: 5px;
}
.box{
    width: 20%;
   
    background-color:transparent;
    border: 1px solid rgb(255, 128, 0);
    padding: 10px;
    box-sizing: border-box;
    margin: 20px auto;
    display:block;
}
input{
    width: 50%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 20px;
    font-size: 16px;
}